<ion-header>

  <ion-navbar>
    <ion-title>Send Mail</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>

  <input type="email" required placeholder="Mail to be sent" [(ngModel)]="email"><br>
  <textarea [(ngModel)]="contents"></textarea><br>
  <input type="button" name="sub" value="Send Final Mail" (click)="sendmail()">


  <!--<ion-searchbar (ionInput)="getItems($event)" placeholder="{{ 'SEARCH_PLACEHOLDER' | translate }}"></ion-searchbar>
  <ion-list>
    <button ion-item (click)="openItem(item)" *ngFor="let item of currentItems">
      <ion-avatar item-start>
        <img [src]="item.profilePic" />
      </ion-avatar>
      <h2>{{item.name}}</h2>
      <p>{{item.about}}</p>
      <ion-note item-end *ngIf="item.note">{{item.note}}</ion-note>
    </button>
  </ion-list>-->
</ion-content>